@import "variables";

[data-focus="back-to-top"] {
    bottom: calc(8% + #{$footer-height});
    button[data-focus="button-action"] {
        background-color: $primary-color;
        &:hover, &:focus, &:focus:not(:active) {
            background-color: $primary-color-dark;
        }
    }
}
