@import "variables";

div[data-focus="field"] {
    color: $dark-grey;
}

[data-focus="field-label-container"] {
    align-self: center;
}
[data-focus="select"] {
    select {
        width: auto!important;
        border: 1px solid $soft-grey;
        padding: calc(#{$field-padding} / 2);
        margin: 0!important;
        &[multiple] {
            padding: 0;
            option {
                padding: calc(#{$field-padding} / 2);
            }
        }
        &[disabled] {
            background-color: $grey;
        }
    }
}

[data-focus="field"] {
    [data-focus="field-label-container"] {
        [data-focus="label"] {
            margin: 0!important;
        }
    }
    [data-focus="field-value-container"] {
        height: $field-text-height;
        input {
            @include text-text();
            font-size: $field-inner-height!important;
            padding: 3px 0;// FIXME
            padding-left: calc(#{$field-padding} / 2);
        }
        label {
            @include text-detail();
            padding-left: calc(#{$field-padding} / 2);
        }
        [data-focus="autocomplete"] {
            width: calc(66.66667% - 16px);// FIXME
            display: inline-block;
            [data-focus="input-text"] {
                width: 100%;
                box-shadow: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);//FIXME
                label::after {
                    background-color: rgb(63,81,181);
                }
            }
        }
        [data-focus="icon-autocomplete"] {
            max-width: calc(100% - (66.66667% - 16px);
            display: inline-block;
        }
    }
}

[data-focus="select-large"] {
    [data-focus="field"] {
        [data-focus="field-value-container"] {
            height: auto;
        }
    }
}

[data-focus="field"][data-mode="consult"] {
    [data-focus="field-label-container"] {
        height: $field-text-height;
    }
}
[data-focus="field"][data-mode="edit"] {
    [data-focus="field-label-container"] {
        height: 20px;//FIXME
    }
}

[data-focus="user-autocomplete"] {
    width: 100%;
    margin-bottom: $field-padding;
    [data-focus="input-text"] {
        width: 25%;
        input {
            @include text-text();
            font-size: $field-inner-height!important;
            padding: 3px 0;// FIXME
            padding-left: calc(#{$field-padding} / 2);
            border: none!important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;//FIXME
            background-color: transparent!important;
        }
        label {
            @include text-detail();
            padding-left: calc(#{$field-padding} / 2);
        }
    }
}


[data-focus="field"][data-domain="DO_CHAMP_GEOGRAPHIQUE"] {
    @include field();
    [data-focus="field-value-container"] {
        [data-focus="panel-geo"] {
            display: flex;
            width: 100%!important;
            [data-focus="select-radio"] {
                width: 250px;
                label {
                    padding-left: 20px;
                    top: 3px;
                    span.mdl-radio__outer-circle {
                        top: 0;
                    }
                    span.mdl-radio__inner-circle {
                        top: 4px;
                    }
                }
            }
        }
    }
}

.dz-preview.dz-file-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    .dz-image {
        width: 100%;
    }
    .dz-details {
        width: 100%;
    }
    .dz-progress {
        display: none;
        width: 100%;
        height: 20px;
        .dz-upload {
            height: 20px;
            display: block;
            border-radius: 3px;
            background-color: $dark-grey;
        }
    }
    .dz-error-message {
        width: 100%;
        color: #FF7777;
    }
    .dz-success-mark {
        color: #77FF77;
        svg g path {
            fill: currentColor;
            stroke: $dark-grey;
        }
    }
    .dz-error-mark {
        color: #FF7777;
        svg g g {
            fill: currentColor;
            stroke: $dark-grey;
        }
    }
    .dz-error-mark, .dz-success-mark {
        width: 100%;
        display: none;
    }
    &.dz-error {
        .dz-error-mark {
            //display: block;
        }
    }
    &.dz-success {
        .dz-error-mark {
            //display: block;
        }
    }
}


.mdl-radio__inner-circle {
    visibility: hidden;
    transform: none;
}
.mdl-radio.is-checked .mdl-radio__inner-circle {
    visibility: visible;
    transform: none;
}

div[data-focus="field"][data-mode="edit"] [data-focus="field-value-container"] select {
    max-width: 100%;
}

div[data-focus="field"][data-mode="edit"][data-domain] [data-focus="field-value-container"] > div[data-focus="select"] {
    max-width: 500px;
    width: auto;
}
[data-focus="field"] [data-focus="field-value-container"] {
    height: auto;
    min-height: 25px;
}

[data-focus="input-textarea"] .mdl-textfield {
    width: 75%;
}

div[data-focus="field"][data-mode="edit"][data-domain] [data-focus="field-value-container"] > div {
    min-width: 250px;
    width: auto;
}