@import "variables";

.app {
    [data-focus="header-scrolling"] {
        padding: 0!important;
        margin: 0!important;
        div[data-focus="header-top-row"] {
            display: block;
            padding: 0;
            height: $header-height;
            div[data-focus="header-top-row-middle"] {
                div[data-focus="cartridge"] {
                    div[data-focus="header-search-bar"] {
                        position: fixed;
                    }
                    div[data-focus="cartridge-content"] {
                        position: fixed;
                    }
                }
            }
        }
        div[data-focus="header-content"] {
            padding: 0;
            div[data-focus="cartridge"] {
                div[data-focus="header-search-bar"] {
                    position: fixed;
                    margin-top: -$header-height;
                }
                div[data-focus="cartridge-content"] {
                    margin-top: 0;
                }
            }
        }
        div[data-focus="header-top-row"] {
            display: block;
            & > div {
                padding: 0!important;
                margin: 0!important;
            }
            div[data-focus="header-top-row-left"] {
                margin-top: $header-height;
                position: relative;
                display: block;
                padding: calc(#{$cartridge-padding} / 2) $cartridge-padding;
                & > div {
                    display: flex;
                    align-items: center;
                    button {
                        @include button-general();
                    }
                }
            }
        }
        &[data-deployed="false"] {
            div[data-focus="header-top-row"] {
                display: block;
                & > div {
                    padding: 0!important;
                    margin: 0!important;
                    div[data-focus="header-top-row-middle"] {
                        padding: 0!important;
                        margin: 0!important;
                    }
                }
                div[data-focus="header-top-row-left"] {
                    position: fixed;
                }
            }
        }
    }
}

[data-focus="cartridge"] {
    padding: 0!important;
    display: flex;
    flex-direction: column;
    [data-focus="header-search-bar"] {
        border-bottom: 1px solid $soft-grey;
        background-color: $white;
        width: calc(100% - #{$header-focus-profile-width});
        height: $header-height;
        display: flex;
        align-items: center;
        [data-focus="header-logo"] {
            width: $header-app-name-width;
            margin-right: $header-app-name-margin;
            display: flex;
            align-items: center;
            [data-focus="logo-img"] {
                background: url('../../assets/img/logo.png') no-repeat center;
                background-size: $logo-size;
                width: $logo-size;
                height: $header-height;
                padding: 0 $header-app-name-margin;
                display: inline-block;
            }
            span:nth-of-type(2) {
                padding: 0 $header-app-title-padding;
            }
            [data-focus="app-family"] {
                @include text-app-family();
                text-transform: uppercase;
            }
            [data-focus="app-name"] {
                @include text-app-name();
                text-transform: uppercase;
            }
        }
        [data-focus="search-bar"] {
            width: calc(100% - #{$header-app-name-width} - (2 * #{$header-app-name-margin}));
            display: flex;
            [data-focus="search-bar"] {
                width: 100%;
                height: calc(#{$field-inner-height} + (2 * #{$field-padding}));
                display: flex;
                [data-focus="search-bar-scope"] {
                    width: $search-bar-scope-width;
                    padding: 0;
                    .mdl-button {
                        @include button-general();
                        padding: $field-padding calc(#{$field-padding} * 2);
                        height: calc(#{$field-inner-height} + (2 * #{$field-padding}));
                        background-color: $primary-color;
                        color: $white;
                        span {
                            display: inline-block;
                            margin-top: -$field-padding;
                        }
                        &:hover, &:focus {
                            background-color: $primary-color;
                            color: $white;
                        }
                        &:active {
                            background-color: $primary-color-dark;
                            color: $white;
                        }
                    }
                    .mdl-menu__container {
                        li {
                            padding: $field-padding calc(#{$field-padding} * 2);
                            height: calc(#{$field-inner-height} + (2 * #{$field-padding}));
                            background-color: $white;
                            i {
                                margin: 0;
                                margin-right: $button-icon-text-separation;
                                padding: 0;
                                @include text-button();
                                font-family: "Material Icons";
                            }
                            span {
                                display: inline-block;
                                margin: 0;
                                margin-top: -$field-padding;
                                padding: 0;
                            }
                            &:hover, &:focus {
                                background-color: $light-grey;
                            }
                            &:active {
                                background-color: $light-grey;
                            }
                        }
                    }
                    & + [data-focus="search-bar-input"] {
                        width: calc(100% - #{$search-bar-scope-width});
                    }
                }
                [data-focus="search-bar-input"] {
                    width: 100%;
                    padding: 0;
                    .mdl-textfield {
                        width: 100%;
                        top: 0;
                        .mdl-textfield__input {
                            border: 1px solid $soft-grey;
                            height: calc(#{$field-inner-height} + (2 * #{$field-padding}));
                            padding: 0 calc(#{$field-padding} * 2);
                            @include text-text();
                        }
                        .mdl-textfield__label {
                            padding: calc(#{$field-padding} / 2) calc(#{$field-padding} * 2);
                            @include text-detail();
                            width: auto;
                            &:after {
                                background-color: $primary-color;
                            }
                        }
                    }
                    [data-role="spinner"] {
                        display: none;
                    }
                }
            }
            [data-focus="button-search"] {
                @include button-general();
                padding: $field-padding calc(#{$field-padding} * 3);
                height: calc(#{$field-inner-height} + (2 * #{$field-padding}));
                background-color: $primary-color;
                color: $white;
                i {
                    margin-top: -5px;// FIXME
                    font-size: 25px!important;// FIXME
                }
                &:hover, &:focus {
                    background-color: $primary-color;
                    color: $white;
                }
                &:active {
                    background-color: $primary-color-dark;
                    color: $white;
                }
            }
        }
    }
    [data-focus="cartridge-content"] {
        box-shadow: $box-shadow-cartridge;
        width: calc(100% - (2 * #{$cartridge-padding}) - #{$menu-left-width-full});
        min-height: $title-text-size;
        margin-top: $header-height;
        background-color: $light-grey;
        padding: $cartridge-padding;
        padding-left: calc(#{$menu-left-width-full} + #{$cartridge-padding});
        display: flex;
        i {
            margin-right: $cartridge-padding;
        }
        h3 {
            @include text-app-name();
            margin-top: 3px;// FIXME
        }
        [data-focus="empty-cartridge"] {
            height: $title-text-size;
        }
        &[data-type="form"] {
            flex-direction: column;
            [data-focus="bloc"] {
                margin-top: calc(#{$cartridge-padding} / 2);
                margin-bottom: calc(#{$cartridge-padding} / 2);
            }
        }
    }
}

[data-focus="header-scrolling"] {
    &[data-deployed="true"] {
        [data-focus="header-actions"] {
            bottom: $header-action-bottom;
        }
    }
    &[data-deployed="false"] {
        [data-focus="header-actions"] {
            top: calc((#{$header-height} + #{$title-text-size} + 2 * #{$cartridge-padding}) - #{$mdl-icon-size} - #{$header-action-bottom});
        }
    }
    [data-focus="header-actions"] {
        margin-right: $header-action-size;
        button {
            box-shadow: none;
            height: $mdl-icon-size;
            width: $mdl-icon-size;
            min-width: $mdl-icon-size;
            background-color: $light-grey!important;
            &:hover {
                background-color: $soft-grey!important;
            }
            &:focus {
                box-shadow: none;
                background-color: $grey!important;
            }
            i {
                color: $dark-grey;
            }
            & + [data-focus="dropdown-menu"] {
                top: $header-action-size;
                [data-role="dropdown-item"] {
                    padding: $header-dropdown-padding;
                    width: calc(100% - (2 * #{$header-dropdown-padding}));
                    background-color: $light-grey;
                    &:hover {
                        background-color: $soft-grey;
                    }
                    &:focus {
                        background-color: $grey;
                    }
                }
            }
        }
    }    
}

header[data-focus="header-scrolling"][data-mode="edit"] [data-focus="header-actions"] {
	pointer-events: none;
	opacity: 0.5;
}



[data-focus='header-top-row'] > div [data-focus^='header-top-row'] {
    white-space: normal;
}

[data-focus="cartridge"] [data-focus="header-search-bar"] [data-focus="search-bar"].is-actually-not-dirty [data-focus="search-bar"] [data-focus="search-bar-input"] .mdl-textfield.is-dirty:not(.is-focused) .mdl-textfield__label {
    visibility: visible !important;
}

[data-focus="cartridge"] [data-focus="header-search-bar"] [data-focus="search-bar"].is-very-dirty [data-focus="search-bar"] [data-focus="search-bar-input"] .mdl-textfield .mdl-textfield__label {
    visibility: hidden !important;
}