@import "variables";

[data-focus="menu-left"] {
    width: $menu-left-width;
    background-color: $primary-color;
    transition: width 0.3s ease;
    height: calc(#{$menu-left-height} - #{$header-height} - #{$footer-height} - (4 * 1px));
    [data-focus='menu-brand'] {
        display: none;
    }
    [data-focus="menu-items"] {
        overflow: hidden;
        padding-top: calc(#{$menu-item-height} / 2);
        li {
            height: $menu-item-height;
            width: $menu-left-width-full;
            padding: 0 calc((#{$menu-left-width} - #{$mdl-icon-size}) / 2);
            margin: 0;
            display: flex;
            align-items: center;
            @include text-text();
            color: $color-white-text;
            &[data-focus="selected"], &:hover {
                border-left: $border-size solid $color-white-text;
                background-color: $primary-color-dark;
            }
            span {
                top: 0;
                cursor: pointer;
                padding-left: calc((#{$menu-left-width} - #{$mdl-icon-size}) / 2);
            }
        }
    }
    & + [data-focus='page-content'] {
        padding: 0;
        padding-left: $menu-left-width!important;
        transition: padding-left 0.3s ease;
        margin-top: $content-margin;
        padding-bottom: $content-margin;
    }
    &:hover:not([data-no-item="true"]) {
        width: $menu-left-width-full;
    }
}

[data-focus="header-scrolling"] {
    &[data-deployed="true"] {
        & + [data-focus="menu-left"] {
            position: relative;
            display: inline-block;
            & + [data-focus="page-content"] {
                margin-top: calc(#{$content-margin} - (#{$menu-left-height} - #{$header-height} - #{$footer-height}));
            }
        }
    }
    &[data-deployed="false"] {
        & + [data-focus="menu-left"] {
            position: fixed;
            padding-top: calc(#{$header-height} + (2 * #{$cartridge-padding}) + #{$title-text-size});
        }
    }
}
