@import "variables";

@media print {
    [data-focus="scrollspy-container"] [data-focus="sticky-menu"],
    [data-focus="advanced-search"] [data-focus="facet-container"],
    [data-focus="menu-left"],
    [data-focus="header-search-bar"] [data-focus="search-bar"],
    [data-focus="header-top-row"],
    [data-focus="header-actions"],
    [data-focus="button-action"],
    [data-focus="footer"],
    [data-focus="snackbar-message-center"] {
        display:none!important;
    }
    [data-focus="header-content"],
    [data-focus="header-content"] [data-focus="cartridge"],
    [data-focus="header-content"] [data-focus="cartridge"] [data-focus="cartridge"],
    [data-focus="header-content"] [data-focus="cartridge"] [data-focus="header-search-bar"],
    [data-focus="header-content"] [data-focus="cartridge"] [data-focus="header-search-bar"] [data-focus="header-logo"] {
        display: inline-block!important;
        position: relative!important;
        width: 100%;
    }
    [data-focus="header-content"] {
        margin-top: calc(#{$header-height} / 2);
    }
    [data-focus="header-search-bar"] {
        padding-bottom: calc(#{$header-height} / 2);
    }
    [data-focus="field"],
    [data-focus="field-label-container"],
    [data-focus="field-value-container"] {
        display: inline-block!important;
    }
    [data-focus="cartridge-content"],
    [data-focus="page-content"],
    [data-focus="scrollspy-container-content"],
    [data-focus="result-container"] {
        padding: 0!important;
        margin: 0!important;
    }
    [data-focus="field"] {
        @include field();
    }
    [data-focus="field"] {
        width: 100%;
    }
}

// Firefox
@media print {

}
