@import "variables";

[data-focus="scrollspy-container"] {
    padding: 0;
    [data-focus="sticky-menu"] {
        box-shadow: $box-shadow-scrollspy;
        width: $scrollspy-item-width;
        box-sizing: border-box;
        top: 0!important;
        background-color: $white;
        position: fixed;
        transition: margin-left 0.3s ease;
        & + [data-focus='scrollspy-container-content'] {
            transition: margin-left 0.3s ease;
            margin: 0 0 0 $scrollspy-item-width;
        }
        ul {
            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100% - (#{$scrollspy-item-height} / 2));
            padding-top: calc(#{$scrollspy-item-height} / 2);
            li {
                @include text-text();
                width: calc(#{$scrollspy-item-width} - (2 * #{$scrollspy-item-padding-left-right}));
                margin: 0;
                padding: calc((#{$scrollspy-item-height} - #{$default-text-size}) / 2) $scrollspy-item-padding-left-right;
                position: relative;
                border: 0;
                &[data-active="true"] {
                    background-color: $primary-color;
                    color: $color-white-text;
                }
            }
        }
    }
}

[data-focus="header-scrolling"] {
    &[data-deployed="true"] {
        & + [data-focus="menu-left"] + [data-focus="page-content"] [data-focus="sticky-menu"] {
            position: relative;
            height: calc(#{$menu-left-height} - #{$header-height} - (2 * #{$cartridge-padding}) - #{$title-text-size});
            display: inline-block;
            margin-top: -$content-margin;
            padding-bottom: calc(#{$header-limit-deploy} - #{$content-margin});
            & + [data-focus='scrollspy-container-content'] {
                margin-top: calc(#{$content-margin} - (#{$menu-left-height} - #{$header-height} - (2 * #{$cartridge-padding}) - #{$title-text-size}));
            }
        }
    }
    &[data-deployed="false"] {
        & + [data-focus="menu-left"] + [data-focus="page-content"] [data-focus="sticky-menu"] {
            position: fixed;
            height: calc(#{$menu-left-height} - #{$footer-height} - (2 * #{$footer-padding}));
            padding-top: calc(#{$header-height} + (2 * #{$cartridge-padding}) + #{$title-text-size});
            //padding-bottom: calc((#{$menu-left-height} - #{$header-height} - #{$footer-height}) - 100vh);
            padding-bottom: 0;
            & + [data-focus='scrollspy-container-content'] {
                margin-top: $content-margin;
                padding-bottom: $content-margin;
            }
        }
    }
}
