@import "variables";

[data-focus="advanced-search"] {
    padding: 0;
    [data-focus="facet-container"] {
        box-shadow: $box-shadow-search;
        width: auto;
        box-sizing: border-box;
        top: 0!important;
        background-color: $grey;
        position: fixed;
        transition: width 0.3s ease, margin-left 0.3s ease;
        overflow: hidden;
        [data-focus="facet-box"] {
            position: relative;
            height: 100%;
            width: $search-facet-width;
            padding: 0;
            margin: 0;
            background-color: inherit;
            transition: width 0.3s ease;
            &.collapsed {
                width: $search-facet-width-hidden;
                [data-focus="facet-box-heading"] h2::after {
                    content: 'chevron_right';
                }
            }
            [data-focus="facet-box-heading"] {
                height: calc(#{$search-facet-item-height} - #{$search-facet-padding});
                padding: $search-facet-padding;
                margin: 0;
                border: 0;
                h2 {
                    padding: 0;
                    border: 0;
                    margin: 0;
                    @include text-title();
                    &::after {
                        content: 'chevron_left';
                    }
                }
            }
            [data-focus="facet-box-body"] {
                width: $search-facet-width;
                height: calc(100% - (#{$search-facet-item-height} + #{$search-facet-padding}));
                overflow-y: auto;
                overflow-x: hidden;
                margin-bottom: $search-facet-padding;
                [data-focus="facet"] {
                    [data-focus="facet-title"] {
                        background-color: $dark-grey;
                        padding: calc(#{$search-facet-item-height} - (2 * #{$default-text-size})) $search-facet-padding;
                        h3 {
                            padding: 0;
                            color: $white;
                        }
                    }
                    &.facet-collapsed [data-focus="facet-title"] h3::after {
                        content: 'arrow_drop_down';
                    }
                    &.facet-expanded [data-focus="facet-title"] h3::after {
                        content: 'arrow_drop_up';
                    }
                    [data-focus="facet-data-list"] {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    [data-focus="result-container"] {
        transition: margin-left 0.3s ease, width 0.3s ease;
        display: block;
        margin-left: $search-facet-width;
        width: calc(100% - (2 * #{$content-margin}) - #{$menu-left-width-full});
        padding-left: $content-margin;
        padding-bottom: $footer-height;
        [data-focus="list-summary"] {
            height: calc(#{$search-action-bar-height} - (2 * #{$search-margin}));
            padding: $search-margin;
            display: flex;
            align-items:  center;
            span.sentence {
                @include text-detail();
            }
            [data-focus="button-action"] {
                background-color: $light-grey;
            }
        }
        [data-focus="list-action-bar"] {
            background-color: $grey;
            height: calc(#{$search-action-bar-height} - (2 * #{$search-margin}));
            padding: $search-margin;
            margin-bottom: $search-margin;
            [data-focus="global-list-content"] {
                width: $search-action-bar-action-width;
                margin: 0 0 0 $search-margin;
            }
            [data-focus="selected-facet-content"] {
                width: calc(100% - (2 * #{$search-action-bar-action-width}) - (4 * #{$search-margin}));
                margin: 0 $search-margin;
                [data-focus="button-action"] {
                    background-color: $light-grey;
                }
            }
            [data-focus="contextual-action-content"] {
                width: $search-action-bar-action-width;
                margin: 0 $search-margin 0 0;
            }
            & + div {
                ul[data-focus="selection-list"] {
                    li[data-focus="sl-line"] {
                        background-color: $white;
                        border-bottom: 1px solid $soft-grey;
                        &:hover, &:focus {
                            background-color: $light-grey;
                        }
                        &:active {
                            background-color: $soft-grey;
                        }
                        [data-niveau="1"] {
                            @include text-title();
                        }
                        [data-niveau="2"] {
                            @include text-text();
                        }
                        [data-niveau="3"] {
                            @include text-detail();
                        }
                        .sl-actions {
                            padding-right: calc(2 * $search-margin);
                        }
                        .sl-selection {
                            width: $mdl-icon-size;
                            padding-left: calc(2 * #{$search-margin});
                            &.selected {
                                border-left-color: $primary-color-lightest;
                            }
                        }
                        &:hover, &:focus, &:active {
                            .sl-selection {
                                border-left-color: $primary-color-darker;
                            }
                        }
                        .sl-actions {
                            padding-right: calc(2 * #{$search-margin});
                        }
                    }
                }
            }
            & + [data-focus="search-results"] {
                [data-focus="group-result-container"] {
                    margin-bottom: $search-margin;
                    h3 {
                        @include text-title();
                    }
                    p {
                        height: 0;
                        margin: $search-margin 0 0 0;
                    }
                    [data-focus="group-actions"] {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 50%;
                        padding-left: 50%;
                        background-color: $white;
                        border-bottom: 1px solid $soft-grey;
                        height: calc(2 * #{$search-action-bar-height} - #{$search-margin});
                        button {
                            margin: 0 calc(2 * #{$search-margin});
                            @include button-detail();
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

[data-focus="header-scrolling"] {
    &[data-deployed="true"] {
        & + [data-focus="menu-left"] + [data-focus="page-content"] [data-focus="facet-container"] {
            position: relative;
            height: calc(#{$menu-left-height} - #{$header-height} - (2 * #{$cartridge-padding}) - #{$title-text-size});
            display: inline-block;
            margin-top: -$content-margin;
            padding-bottom: calc(#{$header-limit-deploy} - #{$content-margin});
            & + [data-focus='result-container'] {
                margin-top: calc(#{$content-margin} - (#{$menu-left-height} - #{$header-height} - (2 * #{$cartridge-padding}) - #{$title-text-size}));
            }
        }
    }
    &[data-deployed="false"] {
        & + [data-focus="menu-left"] + [data-focus="page-content"] [data-focus="facet-container"] {
            position: fixed;
            height: calc(#{$menu-left-height} - #{$footer-height} - (2 * #{$footer-padding}));
            padding-top: calc(#{$header-height} + (2 * #{$cartridge-padding}) + #{$title-text-size});
            padding-bottom: 0;
            & + [data-focus='result-container'] {
                margin-top: $content-margin;
                padding-bottom: $content-margin;
            }
        }
    }
}


[data-focus="cartridge"] [data-focus="header-search-bar"] [data-focus="search-bar"] [data-focus="search-bar"] [data-focus="search-bar-scope"] {
    display:none;
}

[data-focus="topic-displayer"] {
    display:none;
}

[data-focus='facet-box'] [data-focus='facet-box-body'] [data-focus='facet'] [data-focus='facet-data-list'] ul li:hover {
    color: #000000;
    font-weight: bold;
}


[data-focus="advanced-search"] [data-focus="selection-list"] [data-focus="sl-line"] .sl-actions {
    display:none !important;
}