@import "variables";

table {
    &.mdl-data-table.mdl-js-data-table {
        width: 100%;
        thead {
            tr {
                border: 1px solid $soft-grey;
                background-color: $soft-grey;
                th {
                    border-color: $white;
                    border-style: solid;
                    border-width: 0 1px;
                    padding: $table-padding;
                    text-align: center;
                    white-space: normal;
                }
                th:first-of-type {
                    border-left-width: 0;
                }
                th:last-of-type {
                    border-right-width: 0;
                }
            }
        }
        tbody {
            tr {
                border: 1px solid $soft-grey;
                background-color: $light-grey;
                td {
                    border: 1px solid $soft-grey;
                    text-align: center;
                    padding: $table-padding;
                }
                td:first-of-type {
                    border-left-width: 0;
                }
                td:last-of-type {
                    border-right-width: 0;
                    i.material-icons {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
