@import "common/variables";
@import "common/mixins";

label {
  @include text-text();
}

[data-focus="menu-brand"] {
  background-image: url('../assets/logo.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
  width: 120px;
}

[data-focus="snackbar-message-center"] {
  z-index: 3002;
}

//Fix des couleurs
button.mdl-button:not(.mdl-button--icon) {
  @include button-general();
  color: $primary-color;
}

.rbc-btn-group button {
  @include button-general();
  color: $primary-color;
  font-weight: bold;
  border-bottom: 2px solid;
  margin-left: 10px;
  cursor: pointer;
}

.rbc-btn-group button + button {
  margin-left: 10px;
}

[data-focus='menu-left'] {
  z-index: 1001;
  background-color: $primary-color;
}

[data-focus="menu"] {
  background-color: $primary-color;
}

[data-focus='block'] [data-focus='block-title'] h1, [data-focus='block'] [data-focus='block-title'] h2, [data-focus='block'] [data-focus='block-title'] h3, [data-focus='block'] [data-focus='block-title'] h4 {
  color: $primary-color;
}


[data-focus='panel'] [data-focus='panel-title'] h1, [data-focus='panel'] [data-focus='panel-title'] h2, [data-focus='panel'] [data-focus='panel-title'] h3, [data-focus='panel'] [data-focus='panel-title'] h4 {
  @include text-title();
  color: $primary-color;
}

.mdl-card__title.mdl-card--border {
  border-bottom: none;
}

[data-mode="edit"] [data-focus='panel'] {
  border: 3px solid $primary-color; }

[data-focus="sticky-menu"] ul li[data-active="true"] {
  border-color: $primary-color;
  color: $primary-color;
  font-size: 18px; }

//Fin du fix des couleurs

[data-focus="layout"] [data-focus="header-content"] {
  padding: 0;
}

[data-deployed="false"] [data-focus="header-top-row"] {
  margin-left: 60px;
}


[data-focus="date-start-end"] {
  display:flex;
  flex-direction: row;
  .mid-div {
    width:50%;
  }
}

.rbc-header > a {
  pointer-events: none;
}

.rbc-calendar {
  height: 75%;
}

[data-scope='profile-top'] {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 60px;
  z-index: 1001;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  [data-scope='user-info'] {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label {
      @include text-highlight();
      cursor: pointer !important;
    }
    i {
      font-size: 50px;
      color: white;
      background-color: $deep-grey;
      border-radius: 100px;
      margin-left: 15px;
      margin-right: 10px;
      cursor: pointer;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 10px;
    }
  }
}

[data-focus='layout'] > [data-focus='confirmation-popin'] > [data-focus='popin'][data-type='full'] > [data-focus='popin-overlay'] {
  z-index: 3002 !important;
}

.rbc-current-time-indicator {
  background-color: $primary-color-light;
}

.rbc-current-time-indicator::before {
  background-color: $primary-color-light;
}


//Hover du menu
[data-focus="menu-left"] [data-focus="menu-items"] li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0px 0px;
  overflow: hidden;
  
  button {
    margin-left: 14px;
  }
  span {
    display: none;
  }
}

[data-focus="menu-left"] [data-focus="menu-items"] li.active-menu {
  background-color: $primary-color-light;
}

[data-focus="menu-left"] [data-focus="menu-items"] li:hover {
  width: 200px;
  background-color: $primary-color-dark;
  background: linear-gradient(to right, $primary-color, $primary-color-light);
  transition: width 0.5s ease-out;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.33), 0 1px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  span {
    @include text-button();
    color: white;
    display: block;
    top: 0px;
    position: inherit;
    margin-left: 25px;
  }
}

[data-focus="menu-left"] [data-focus="menu-items"] li.active-menu:hover {
  background: linear-gradient(to right, $primary-color-light, $primary-color);
}

.rbc-time-header {
  .rbc-row:nth-of-type(2) {
    display: none;
  }
}

[data-focus="popin"] [data-focus='panel'].mdl-card {
  box-shadow: none;
}

[data-focus='popin'][data-type='full'] > [data-focus='popin-overlay'] > [data-focus='popin-window'] {
  top: 27%;
  margin: 0px;
}

.rbc-toolbar-label {
  display: none;
}

[data-focus="historique-list"] .rbc-toolbar-label {
  display: block;
}

.rbc-calendar span {
  @include text-text();
  font-weight: bold;
}

.rbc-day-slot .rbc-event {
  justify-content: center;
}



.rbc-time-view {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #eeeeee;
}

.rbc-event:hover {
  z-index: 3 !important;
}

[data-focus='participants-list'] {
  margin-top: 10px;
  margin-bottom: 10px;
  [data-focus='list'] {
    margin-top: 10px;
    max-height: 50px;
    overflow: auto;
    & > div {
      display: flex; 
      flex-direction: row;
      & > div {
        margin-left: 20px;
        font-weight: bold;

        font-size: 19px;
        color: black;
      }
    }
  }
}

/*.rbc-event {
  &.DANSE{
    background-color: rgb(255,26,142);
    border: 1px solid rgb(255,26,142);
  }
  &.CROSS{
    background-color: $primary-color;
    border: 1px solid $primary-color-dark;
  }
  &.PPG {
    background-color: rgb(26,184,142);
    border: 1px solid rgb(26,184,142);
  }
  &.AUTRE {
    background-color: rgb(241,200,142);
    border: 1px solid rgb(241,200,142);
  }
}*/

.rbc-event.participant:after {
  content: '\2713';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: inherit;
}

i {
  font-feature-settings: 'liga';
}

[data-focus='toggle-bar'] {
  display:flex;
  flex-direction: row;
  width: 100%;
  label {
    width: 100%;
  }
  label:first-child {
    text-align: end;
    margin-right: 10px;
    font-size: 16px !important;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }
}

[data-focus="panel-partenaire"] {
  margin: 20px;
  [data-focus="panel-content"] {
    display: flex;
    flex-direction: row;
    & > .img {
      background-color: transparent;
      max-width: 250px;
      display: block;
      max-width: 250px;
      max-height: 250px;
      width: 250px;
      height: 250px;
      object-fit: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    & > div:not(.img) {
      margin: 15px;
      width: 80%;
    }
  }
}

[data-focus='panel-partenaire'].clickable {
  cursor: pointer;
  label {
    cursor: pointer !important;
  }
}

[data-focus='contact'] {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 5px;
  }
}

[data-focus='column'] {
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
  }
  li {
    label {
      display: block;
    }
  }
}

[data-focus='inscription-title'] {
  padding: 15px;
  label {
    font-size: 20px;
    font-weight: bold;
  }
}

[data-focus='panel'] .actions {
  display: block;
  margin-left: auto;
}


[data-focus='news-info'] {
  @include text-detail();
  margin-top: 20px;
  font-size: 11px !important;
}

.news-content {
  @include text-text();
  min-height: 50px;
  padding: 5px;
  box-shadow: 0px 0px 3px 1px rgba(128,128,128,0.3);
}

div[data-focus="field"][data-mode="edit"][data-domain='DO_RTE'] [data-focus="field-value-container"] > div {
  width: 100%;
}

[data-focus='panel-into-panel'] {
  [data-focus='panel'] {
    box-shadow: none;
    border-top: 1px solid black;
    min-height: auto;
    margin-bottom: 10px;
  }
  [data-focus='panel'] [data-focus='panel-title'] h1, [data-focus='panel'] [data-focus='panel-title'] h2, [data-focus='panel'] [data-focus='panel-title'] h3, [data-focus='panel'] [data-focus='panel-title'] h4 {
    @include text-text();
  }
}

[data-focus='home-container'] {
  display: flex;
  flex-direction: row;
  & > form {
    width: 100%;
  }
}

[data-focus='list-home'] {
  margin: 30px;
  [data-focus='news-list'] {
  max-height: 600px;
  margin: 30px;
  overflow: auto;
  padding: 1px;
  }
}

[data-focus='home-title'] {
  @include text-title();
  margin-left: 25px;
  text-align: center;
  font-size: 30px !important;
}

[data-focus="user-list"] {
  margin-top: 25px;
  border: 1px solid rgba(128,128,128,0.5);
  [data-focus='user-line'] {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      word-break: break-word;
      & > div {
        margin-right: 30px;
      }
    }
    & > div:first-of-type {
      word-break: initial;
      
    overflow: auto;
    }
    & > div:last-of-type {
      word-break: initial;
    }
  }
  [data-focus='user-line']:first-of-type {
    font-weight: bold;
  }
  [data-focus='user-line']:nth-of-type(2n) {
    box-shadow: 0px 0px 1px 1px rgba(128,128,128,0.3);
    background-color: rgba(128,128,128,0.3);
  }
  [data-focus='user-line']:nth-of-type(2n+1) {
    box-shadow: 0px 0px 1px 1px rgba(200,200,200,0.1);
    background-color: rgba(200,200,200,0.1);
  }
}

[data-focus="back-to-top"] button.mdl-button:not(.mdl-button--icon) {
  border-radius: 50px;
  background-color: $primary-color;
  height: 56px;
  width: 56px;
  margin-left: -3px;
  margin-top: -3px;
  i {
    color: white;
  }
}

[data-focus='me-panel'] {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  button {
    width: 25%;
    margin-top: 5px;
  }
}

div[data-focus="field"][data-domain="DO_RTE"] [data-focus="field-value-container"] {
  width: calc(66.66667% - 16px);
  max-width: calc(66.66667% - 16px);
  max-height: 400px;
  overflow: auto;
}

[data-domain="DO_NOTE"] [data-focus="field-value-container"] {
  width: auto;
   &> div {
    width: auto;
    & > label {
      width: 12px;
      overflow: hidden;
    }
    & > label:nth-of-type(2n+1) {
      display: flex;
      flex-flow: row-reverse;
    }
  }
}

.dv-star-rating {
  width: auto;
  & > label {
    width: 12px;
    overflow: hidden;
  }
  & > label:nth-of-type(2n+1) {
    display: flex;
    flex-flow: row-reverse;
  }
}

div[data-focus="field"][data-mode="edit"][data-domain="DO_NOTE"] [data-focus="field-value-container"] > div {
  width: auto;
}

div[data-focus="field"][data-mode="edit"][data-domain="DO_COMMENT"] [data-focus="field-value-container"] > div {
  width: 80%;
  min-height: 100px;
  .mdl-textfield {
    width: 100%;
  }
  .mdl-textfield__input {
    min-height: 100px !important;
  }
}

[data-focus='historique-evenements'] [data-focus="panel"] [data-focus="panel-content"] {
  cursor: pointer;
  label {
    cursor: pointer;
  }
}

[data-focus='historique-list'] {
  margin: 20px;
  & > div {
    margin-top: 20px;
  }
}

[data-focus='tab-array'] {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  & > div {
    background-color: transparent;
    color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  .tab-active {
    background-color: $primary-color;
    color: white;
  }
}
[data-focus='commentaire-coach'] {
  & > div:first-child {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > .dv-star-rating {
      margin-left: 20px;
    }
  }
  & > div:nth-child(2) {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  [data-focus='commentaire-detail'] {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    [data-focus="commentaire-auteur"] {
      margin-left: auto;
    }
    [data-focus="commentaire-commentaire"] {
      margin-left: 15px;
      max-width: 500px;
    }
  }
}

[data-focus="commentaire-coach"] .dv-star-rating {
  pointer-events: none;
}

[data-focus='presentation-personne'] {
  [data-focus='title'] {
    font-size: 15px;
    display: flex;
    font-weight: bold;
    text-align: center;
    align-items: center;
    cursor: pointer;
    label {
      cursor: pointer;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  [data-focus='presentation-box'] {
    padding: 10px;
    border-left: 2px solid $grey;
    display: flex;
    flex-direction: column;
    & > img {
      width: 100px;
      height: 100px;
      margin-top: 10px;
    }
    & > label {
      font-weight: bold;
    }
    [data-focus="interview"] {
      margin-top: 15px;
      [data-focus='interview-bloc'] {
        margin-bottom: 5px;
        [data-focus='interview-question'] {
          font-weight: bold;
          margin-bottom: 3px;
        }
        [data-focus='interview-reponse'] {
          color: $primary-color-light;
          font-style: italic;
          max-width: 1200px;
        }
      }
    }
  }
}

[data-focus="background-logo"] {
  //background-image: url('../assets/logo_big_transparent.png');
  background-size: 1000px 500px;
  background-repeat: no-repeat;
  background-position: 50vh 30vh;
  height: 100vh;
  top: 0;
  position: fixed;
  width: 100vw;
}

[data-focus='header-scrolling'][data-deployed="false"] [data-focus="header-top-row-middle"] {
  display: flex;
  align-items: center;
  margin-left: 100px;
  &> div {

  }
}



[data-focus='layout'] {
  background-color: transparent;
  position: relative;
}

.rbc-toolbar {
  button {
    text-transform: initial;
    &:focus {
    outline: none;
    background-color: transparent;
    color: $primary-color;
    }
  }
}
$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3;

[data-focus='week-bar'] {
  display: flex;
  flex-direction: row;
  width: 100%;
  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > label {
      font-weight: bold;
    }
    [data-focus='tile-list'] {
      margin-top: 20px;
      width: 100%;
      [data-focus="tile"] {
        margin: 15px;
        opacity: 0.9;
        position: relative;
        [data-focus='tile-title'] {
          font-weight: bold;
          white-space: pre;
        }
        [data-focus="tile-description"] {
          display: block;
          display: -webkit-box;
          margin: 0 auto;
          line-height: 1.4;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        [data-focus="tile-info"] {
          font-style: italic;
        }
      }
    }
  }
}

[data-focus='back-button-root'] {
  position: fixed;
  top: 7px;
  left: 117px;
  z-index: 1001;
}

[data-focus="menu-left"] [data-focus="menu-items"] li:hover span {
  cursor: pointer;
}

[data-focus="menu-left"] [data-focus="menu-items"] li:hover {
  cursor: pointer;
}

[data-focus='caroussel-home'] {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -85px;
  margin-left: -10px;
  margin-bottom: 50px;
  margin-right: -25px;
  .slider-slide > img {width: auto !important; display: block;     height: 300px;     margin: auto;}

  .slider-decorator-0 {
    display: none;
  }
  .slider-decorator-1 {
    display: none;
  }
  .slider-decorator-2 {
    display: none;
  }
}

[data-focus='legend'] {
  border: 1px solid black;
  padding: 10px;
  margin-top: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
  & > label {
  }

  [data-focus='legend-item'] {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    & > div:last-child{
      border-bottom: 1px solid black;
    }
    .rbc-event {
      width: 5px;
      height: 5px;
      margin-right: 5px;
      border-radius: 0px;
      padding: 5px;
    }
  }
  [data-focus='legend-item'].first {
    margin-top: 15px;
  }
}

[data-focus='tiles-container'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.person-tile {
  [data-focus="presentation-personne"] {
    min-width: 300px;
    border: 1px solid black;
    border-radius: 2px;
    width: 300px;
    margin: 15px;
    [data-focus='presentation-box'].toggled {
      animation: up 2s;
      overflow: auto;
      max-height: 1000px;
      overflow: auto;
      padding: 5px;
    }
    [data-focus='presentation-box'].closed {
      animation: down 1s;
    }
    [data-focus='presentation-box'] {
      max-height: 0px;
      overflow: hidden;
      padding: 0px;
      border-left: none;
    }
  }
  [data-focus="presentation-personne"].toggled {
    animation: expand 1s;
    width: 90%;
  }
  [data-focus="presentation-personne"].closed {
    animation: unexpand 2s;
  }
  [data-focus='big-tile'] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(11, 119, 34, 0.14902);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    min-height: 135px;
    [data-focus='title'] {
      padding: 5px;
    }
    [ data-focus='fonction'] {
      padding: 5px;
      font-weight: bold;
      min-height: 20px;
    }
    .image-line {
      height: 35px;
      width: 100%;
      border-bottom: 1px solid black;
      text-align: center;
      margin-bottom: 35px;
    }
    & > div > img {
      width: 70px;
      height: 70px;
      border-radius: 50px;
      border: 1px solid black;
    }
  }
}

@keyframes up {
  0% {max-height: 0px}
  50% {max-height: 0px}
  100% {
    max-height: 1000px;
  }
}

@keyframes down {
  
  0% {
    max-height: 1000px;
  }
  100% {max-height: 0px}
}

@keyframes expand {
  0% {
    width: 300px;
  }
  100% {
    width: 90%;
  }
}

@keyframes unexpand {
  0% {
    width: 90%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 300px;
  }
}

[data-focus="legende-description"] {
  & > div {
    margin-top: 20px;
  }
}

[data-domain="DO_DATE"] .mdl-textfield__error {
  white-space: nowrap;
}

[data-focus="header-activites"] {
  display: flex;
  //max-width: calc( 100% - 100px );
  max-width: calc( 100vw - 450px);
  overflow: auto;
  margin-top: -60px;
  margin-bottom: 30px;
  flex-direction: row;
  margin-right: auto;
  & > div {
    border: 1px solid black;
    padding: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
    img {
      height: 150px;
      width: auto;
    }
    & > div {
      text-align: center;
    }
  }
}
[data-focus='home-chat-display'] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc( 100% - 350px );
  & > div {
    width: 100%;
  }
}

[data-focus='chat'] {
  border-lefT: 2px solid $primary-color-dark;
  background-color: white;
  padding-left: 5px;
  height: calc( 100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
  [data-focus='chat-title'] {
    padding: 5px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    min-height: 30px;
    margin-bottom: auto;
  }
  p {
    margin-bottom: 0px;
  }
  [data-focus="chat-history"] {
    display: block;
    overflow-y: scroll;
  }
  .public-DraftEditor-content {
    max-height: 100px;
  }
  [data-focus='message-chat'] {
    display: flex;
    flex-direction: row;
    padding: 5px;
    & > div:first-child {
      width: 100%;
      & > div:first-child {
        font-weight: bold;
      }
    }
    & > div:last-child {
      font-size: 10px;
      font-style: italic;
      white-space: nowrap;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  [data-focus='message-chat']:nth-child(2n) {
    background-color: $grey;
  }
  [data-focus='message-chat']:nth-child(2n+1) {
    background-color: #FFFFFF;
}
}

.hide-for-width {
  pointer-events: none;
  height: 0px;
  overflow: hidden;
}


//Partie home

[data-route="home"][data-focus='header-scrolling'][data-deployed="true"] [data-focus="header-top-row"] {
  height: 110px;
}

[data-route="home"][data-focus='header-scrolling'][data-deployed="true"] [data-focus="header-content"] {
  display: flex;
  height: 110px;
  top: 0;
  position: absolute;
  width: calc( 100% - 60px );
  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

[data-focus='layout'][data-menu='left'] [data-route="home"][data-deployed="true"] + [data-focus="menu-left"] {
  position: absolute;
  [data-focus="menu-brand"] {
    height: 110px;
    width: 237px;
    background-color: white;
  }

}

[data-focus="menu-left"] [data-focus="menu-brand"] {
  background-color: white;
}

[data-focus='layout'][data-menu='left'] [data-route="home"] + [data-focus="menu-left"] + [data-focus="page-content"] {
  margin-top: 75px;
}


header [data-focus="cartridge-home"] label {
  display: flex;
  white-space: pre;
  font-weight: bold;
}

header [data-focus="header-top-row-middle"] label {
  display: flex;
  white-space: pre;
  font-weight: bold;
}

.blue-aslb {
  color: $primary-color-light;
}

[data-focus='cartridge-home'] > label:first-child {
  font-size: 21px !important;
}

[data-focus='button-header-cst'] {
  display: flex;
  flex-direction: row;
  .header-tile-click {
    cursor: pointer;
    margin: 15px;
    margin-bottom: 0px;
    font-weight: initial;
    label {
      cursor: pointer !important;
    }
    padding: 5px;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: $primary-color;
}


[data-focus='display-column'] {
  display: flex;
  flex-direction: column;
}

div[data-focus="field"] [data-focus="field-label-container"].mdl-cell--12-col {
    text-align: left;
}

[data-focus='absent-present'] {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      align-items: center;
    }
    & > div:first-of-type {
      margin-top: 15px;
    }
  }
}

[data-focus='event-consult-card'] {
  display: flex;
  flex-direction: column;
  & > div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .top-row > * {
    width: 100%;
  }
  .top-row> *:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
  }
  .top-row> *:nth-child(2) {
    font-weight: bold;
  }
  .top-row > *:nth-child(4) {
    color: $primary-color;
  }
  .description {
    width: 100%;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.10);
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: pre-wrap;
  }
  .line-info {
    & > *:nth-child(1) {
      margin-right: 10px;
      font-weight: bold;
    }
    & > *:nth-child(2) {
      color: $primary-color;
    }
  }
  .line-info.mrg-top {
    margin-top: 5px;
  }
  .participants {      
    display: flex;
    flex-wrap: wrap;
    & > div {
      display: flex;
      flex-direction: row;
      width: 50%;
      & > div {
        margin-left: 10px;
      }
    }
    margin-bottom: 10px;
  }
}

.red {
  color: red;
}

i.tokenValid {
  color: green !important;
  font-size: 15px !important;
  margin: 2px !important;
  background-image: url('../assets/button-green.png');
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
}

i.attente {
  font-size: 15px !important;
  margin: 2px !important;
  background-image: url('../assets/button-yellow.png');
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
}
i.inscrit {
  color: red !important;
  font-size: 15px !important;
  margin: 2px !important;
  background-image: url('../assets/button-red.png');
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
}

[data-focus='credit-line'] {
  display: flex;
  margin-right: 5px;
  flex-direction: row;
}


[data-focus='popin'][data-type='full'][data-size='small'] > div > [data-focus='popin-window'] > div {
  max-width: 33.33333vw;
  max-height: 33.33333vh;
  overflow: auto;
}

[data-focus='popin'][data-type='full'][data-size='medium'] > div > [data-focus='popin-window'] > div {
  max-width: 50vw;
  max-height: 50vh;
  overflow: auto;
}

[data-focus='popin'][data-type='full'][data-size='large'] > div > [data-focus='popin-window'] > div {
  max-width: 66.66667vw;
  max-height: 66.66667vh;
  overflow: auto;
}

[data-focus="header-activites"] > div.slider {
  height: 180px !important;
  & > .slider-frame {
    height: 174px !important;
  }
  .slider-decorator-2 {
    display: none !important;
  }
}

[data-focus="message-chat"] img {
  max-width: 250px;
  height: auto;
}

[data-focus="home-chat-display"] [data-focus='panel-into-panel'] [data-focus='panel'] h3 {
  font-size: 20px !important;
}

[data-focus='list-home'] [data-focus='event-list'] .slider {
  max-width: calc( 100vw - 550px);  
  height: 67px !important;
  padding-left: 50px;
  padding-right: 50px;
  .slider-slide > div {
    margin-right: 15px;
    height: 60px;
    & > div {
      white-space: nowrap;
      font-size: 10px;
      line-height: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > div:first-child {
      line-height: 20px;
      font-size: 20px;
    }
  }
  i {
    cursor: pointer;
  }
}

.center-text {
  width: 100%;
  text-align:  center;
  margin-bottom: 10px;
  font-weight: bold;
}

[data-focus="display-row"] {
  display:flex;
  flex-direction: row;
  align-items: center;
}
[data-focus="absent-present"] i {
  cursor: pointer;
}


.no-actions + [data-focus="button-stack"] {
  display: none;
}

.rbc-calendar .dv-star-rating-star {
  cursor: pointer !important;
}

p {
  margin-bottom: 0px;
}

.legend-star {
  margin-top: 10px;
  font-style: italic;
  font-size: 11px !important;
}

[data-focus='img-acces'] {
  background-image: url('../assets/img/plan-acces.png');
  width: 694px;
  height: 332px;
  background-size: 100% 100%;
}

.click-user-name {
  cursor: pointer;
  text-decoration: underline;
}

.bold {      
  font-weight: bold;
  white-space: pre;
}

[data-focus="historique-list"] .rbc-row .rbc-event-content .ellipsis {

}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbc-row-content {
  overflow: overlay;
}

[data-focus="historique-list"] + [data-focus='popin'][data-type='from-right'] > [data-focus='popin-overlay'] {
 z-index: 1002;
}

.display-center {
  justify-content: space-around;
  align-items: center;
}

[data-focus='popin-window'] h1 {
  font-size: 56px !important;
  margin: none; }
[data-focus='popin-window'] h3 {
  font-size: 1.17em !important;
  color: rgba(0,0,0, 0.54); }


  [data-focus='header-top-row'] > div [data-focus^='header-top-row'] {
    padding: 0 25px;
  }

  .top-header-act {
    margin-top: -60px;
    margin-bottom: 70px;
  }

  .boldbig {
    font-weight: bold;
    font-size: 20px;
  }

  
  .ql-container {
    height: auto; 
    max-height: 300px;
    overflow: auto;
  }

  .ql-editor {
    height: auto;
  }

  .clickable-msg {
    cursor: pointer;
  }

  [data-focus='tile-machine'] {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin: 5px;
    height: 15px;
  }

  .array-like {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  [data-focus='tile-machine'].canClick:hover {
    opacity: 0.7;
}

[data-focus='big-tiles-monitoring'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  & > div {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(35, 123, 76, 0.52);
    & > div {
      font-size: 30px;
      color: white;
    }
  }
}

.horaires-salle {
  text-align: center;
  font-size: 50px;
}

.news-content img {
	max-width: 100%;
}

[data-focus="home-chat-display"] [data-focus="list-home"] > [data-focus="panel"] {
  width: calc( 100vw - 350px - 70px - 60px) !important;
}

.machine-scroll {
  max-height: calc( 100% - 300px);
  overflow: auto;
  align-items: flex-start;
}