@import "common/variables";
@import "common/mixins";

label {
  @include text-text();
}

[data-focus="menu-brand"] {
  background-image: url('../assets/logo.jpg');
  background-size: cover;
  overflow: visible;
  width: 120px;
}


//Fix des couleurs
button.mdl-button:not(.mdl-button--icon) {
  @include button-general();
  color: $primary-color;
}

.rbc-btn-group button {
  @include button-general();
  color: $primary-color;
}

[data-focus='menu-left'] {
  z-index: 1001;
  background-color: $primary-color;
}

[data-focus="menu"] {
  background-color: $primary-color;
}

[data-focus='block'] [data-focus='block-title'] h1, [data-focus='block'] [data-focus='block-title'] h2, [data-focus='block'] [data-focus='block-title'] h3, [data-focus='block'] [data-focus='block-title'] h4 {
  color: $primary-color;
}


[data-focus='panel'] [data-focus='panel-title'] h1, [data-focus='panel'] [data-focus='panel-title'] h2, [data-focus='panel'] [data-focus='panel-title'] h3, [data-focus='panel'] [data-focus='panel-title'] h4 {
  @include text-title();
  color: $primary-color;
}

.mdl-card__title.mdl-card--border {
  border-bottom: none;
}

[data-mode="edit"] [data-focus='panel'] {
  border: 3px solid $primary-color; }

[data-focus="sticky-menu"] ul li[data-active="true"] {
  border-color: $primary-color;
  color: $primary-color;
  font-size: 18px; }

//Fin du fix des couleurs

[data-focus="layout"] [data-focus="header-content"] {
  padding: 0;
}

[data-deployed="false"] [data-focus="header-top-row"] {
  margin-left: 60px;
}


[data-focus="date-start-end"] {
  display:flex;
  flex-direction: row;
  .mid-div {
    width:50%;
  }
}

.rbc-header > a {
  pointer-events: none;
}

.rbc-calendar {
  height: 75%;
}

[data-scope='profile-top'] {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 60px;
  z-index: 1001;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  [data-scope='user-info'] {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label {
      @include text-highlight();
      cursor: pointer !important;
    }
    i {
      font-size: 50px;
      color: white;
      background-color: $deep-grey;
      border-radius: 100px;
      margin-left: 15px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

[data-focus='layout'] > [data-focus='confirmation-popin'] > [data-focus='popin'][data-type='full'] > [data-focus='popin-overlay'] {
  z-index: 3002 !important;
}

.rbc-current-time-indicator {
  background-color: $primary-color-light;
}

.rbc-current-time-indicator::before {
  background-color: $primary-color-light;
}


//Hover du menu
[data-focus="menu-left"] [data-focus="menu-items"] li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0px 0px;
  overflow: hidden;
  
  button {
    margin-left: 14px;
  }
  span {
    display: none;
  }
}

[data-focus="menu-left"] [data-focus="menu-items"] li:hover {
  width: 200px;
  background-color: $primary-color-dark;
  background: linear-gradient(to right, $primary-color, $primary-color-darker);
  transition: width 0.5s ease-out;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.33), 0 1px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  span {
    @include text-button();
    color: white;
    display: block;
    top: 0px;
    position: inherit;
    margin-left: 25px;
  }
}

.rbc-time-header {
  .rbc-row:nth-of-type(2) {
    display: none;
  }
}

[data-focus="popin"] [data-focus='panel'].mdl-card {
  box-shadow: none;
}

[data-focus='popin'][data-type='full'] > [data-focus='popin-overlay'] > [data-focus='popin-window'] {
  top: 27%;
  margin: 0px;
}

.rbc-toolbar-label {
  display: none;
}

.rbc-calendar span {
  @include text-text();
}

.rbc-day-slot .rbc-event {
  justify-content: center;
}



.rbc-time-view {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rbc-event:hover {
  width: 100% !important;
  z-index: 3 !important;
  height: auto !important;
}

[data-focus='participants-list'] {
  margin-top: 10px;
  margin-bottom: 10px;
  [data-focus='list'] {
    margin-top: 10px;
    max-height: 50px;
    overflow: auto;
  }
}

.rbc-event {
  &.DANSE{
    background-color: rgb(255,26,142);
    border: 1px solid rgb(255,26,142);
  }
  &.CROSS{
    background-color: $primary-color;
    border: 1px solid $primary-color-dark;
  }
  &.PPG {
    background-color: rgb(26,184,142);
    border: 1px solid rgb(26,184,142);
  }
  &.AUTRE {
    background-color: rgb(241,200,142);
    border: 1px solid rgb(241,200,142);
  }
}

.rbc-event.participant:after {
  content: '\2713';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: inherit;
}

[data-focus='toggle-bar'] {
  display:flex;
  flex-direction: row;
  label {
    width: 100%;
  }
  label:first-child {
    text-align: end;
    margin-right: 10px;
    font-size: 16px !important;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
  }
}

[data-focus="panel-partenaire"] {
  margin: 20px;
  [data-focus="panel-content"] {
    display: flex;
    flex-direction: row;
    & > img {
      background-color: transparent;
      max-width: 250px;
      display: block;
      max-width: 250px;
      max-height: 250px;
      width: 250px;
      height: auto;
      object-fit: scale-down;
    }
    & > div {
      margin: 15px;
      width: 80%;
    }
  }
}

[data-focus='panel-partenaire'].clickable {
  cursor: pointer;
  label {
    cursor: pointer !important;
  }
}

[data-focus='contact'] {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 5px;
  }
}

[data-focus='panel'] .actions {
  display: block;
  margin-left: auto;
}


[data-focus='news-info'] {
  @include text-detail();
  margin-top: 20px;
  font-size: 11px !important;
}

.news-content {
  @include text-text();
  min-height: 50px;
  padding: 5px;
  box-shadow: 0px 0px 3px 1px rgba(128,128,128,0.3);
}

div[data-focus="field"][data-mode="edit"][data-domain='DO_RTE'] [data-focus="field-value-container"] > div {
  width: 100%;
}

[data-focus='panel-into-panel'] {
  [data-focus='panel'] {
    box-shadow: none;
    border-top: 1px solid black;
  }
  [data-focus='panel'] [data-focus='panel-title'] h1, [data-focus='panel'] [data-focus='panel-title'] h2, [data-focus='panel'] [data-focus='panel-title'] h3, [data-focus='panel'] [data-focus='panel-title'] h4 {
    @include text-text();
  }
}

[data-focus='home-container'] {
  display: flex;
  flex-direction: row;
}

[data-focus='list-home'] {
  margin: 30px;
  width: 40vw;
  [data-focus='news-list'] {
  max-height: 600px;
  margin: 30px;
  overflow: auto;
  }
}

[data-focus='home-title'] {
  @include text-title();
  margin-left: 25px;
}

[data-focus="user-list"] {
  margin-top: 25px;
  border: 1px solid rgba(128,128,128,0.5);
  [data-focus='user-line'] {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      & > div {
        margin-right: 30px;
      }
    }
  }
  [data-focus='user-line']:nth-of-type(2n) {
    box-shadow: 0px 0px 1px 1px rgba(128,128,128,0.3);
    background-color: rgba(128,128,128,0.3);
  }
  [data-focus='user-line']:nth-of-type(2n+1) {
    box-shadow: 0px 0px 1px 1px rgba(200,200,200,0.1);
    background-color: rgba(200,200,200,0.1);
  }
}

[data-focus="back-to-top"] button.mdl-button:not(.mdl-button--icon) {
  border-radius: 50px;
  background-color: $primary-color;
  height: 56px;
  width: 56px;
  margin-left: -3px;
  margin-top: -3px;
  i {
    color: white;
  }
}

[data-focus='me-panel'] {
  margin-bottom: 25px;
}